@font-face {
  font-family: 'SpaceMono';
  src: local('SpaceMono'),
    url('/fonts/SpaceMono-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: local('SpaceMono'),
    url('/fonts/SpaceMono-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'SpaceMono';
  src: local('SpaceMono'),
    url('/fonts/SpaceMono-Italic.ttf') format("truetype");
  font-weight: italic;
  font-style: italic;
}
